// 固定居中
middleAbsolute(top = 0, bottom = 0, left = 0, right = 0, $position = absolute)
    position $position 
    top top 
    right right
    bottom bottom
    left left
    margin auto


// 文字超出使用负号
textOverflow()
    overflow hidden
    text-overflow ellipsis
    white-space nowrap