// 主题颜色
$themecolor = #4e886c

// 字体定义规范
$font-size-small = .2rem // 10px
$font-size-small-x = .24rem // 12px
$font-size-medium = .28rem // 14px
$font-size-medium-x = .32rem // 16px
$font-size-large = .36rem // 18px
$font-size-large-x = .44rem // 22px